<h1> Similar Images </h2>

<h3> Name: {{ block.image_name }} </h3>
<h3> Description: {{ block.image_description }} </h3>
<h3> Authenticated on: {{ block.timestamp }} </h3>
<h3> Hash: {{ block.current_hash }} </h3>
<h3> DHash: {{ block.d_hash }} </h3>
<img src="{{ block.image_url }}"   alt = "{{ block.image_name }}"   class="img-responsive"/>

</br>

<h4> Similar Images: </h4>
{% for similar_image in similar_blocks %}
    <h4> Name: {{ similar_image.image_name }} </h4>
    <h4> Description: {{ similar_image.image_description }} </h4>
    <h4> Authenticated on: {{ similar_image.timestamp }} </h4>
    <h4> Hash: {{ similar_image.current_hash }} </h3>
    <h4> DHash: {{ similar_image.d_hash }} </h4>
    <img src="{{ similar_image.image_url }}"   alt = "{{ similar_image.image_name }}"   class="img-responsive"/>
    {% comment %} <h4> Similarity Score: {{ similar_image }} </h4> {% endcomment %}
{% endfor %}